<div class="modal fade" id="clip_values" tabindex="-1" role="dialog" aria-labelledby="drop_col" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Clip values</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% if(list.numerical != "empty") {%>
            <div class="modal-body">
                <form action="/clip_values" method="POST">
                    <h1>Clip values</h1>
                    <label for="">Min threshold</label>
                    <input type="number" name="minthresh" id="">
                    <label for="">Max threshold</label>
                    <input type="number" name="maxthresh" id="">
                    <select name="col" id="">
                        <% list.numerical.forEach(function(num) { %>
                        <option value="<%=num%>"><%=num%></option>
                        <% }) %>
                    </select>
                    <br>
            </div>
            <button type="submit">Submit</button>
            </form>
            <% }else{ %>
            <div class="modal-body">
                <div class="jumbotron">
                    <h1 class="display-4">Opps!!!</h1>
                    <p class="lead">You don't have any columns</p>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>