<div class="modal fade" id="Cube_Root" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Data Transform Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%if(list.numerical != "empty"){%>
            <div class="modal-body">
                <form id="cube-root" method="POST" action="/data_transform">

                    <h1>Cube-Root</h1>
                    <h4>Tips:</h4>
                    <p>Cube Root transformation is used when when skewness in your data is Positive</p>
                    <h4>Recommendations:</h4>

                    <% var recommended = [] ; list.skewness.forEach(function(skew,i){%>
                    <%  if(skew>=1) recommended.push(list.numerical[i]);%>
                    <%})%>

                    <p>Recommended For :
                        <%if(recommended.length){%>
                        <%= recommended %> </p>
                    <% }else{ %>
                    none </p>
                    <% } %>
                    <% list.numerical.forEach(function(column){%>
                    <input type="checkbox" name="cube-root" value='<%=column%>'><%=column%></input>
                    <%})%>

                    <br>
                    <input type="checkbox" class="selectall" onchange="selectall(this,'cube-root')">Select
                    All</input>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    <br>
                </form>

            </div>
            <% }else{ %>
            <div class="modal-body">
                <div class="jumbotron">
                    <h1 class="display-4">Opps!!!</h1>
                    <p class="lead">You don't have any Numerical columns</p>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>