<div class="modal fade" id="Min_Max" tabindex="-1" role="dialog" aria-labelledby="DataTransform" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Data Transform Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="min-max" method="POST" action="/data_transform">
                    <%if(list.numerical != "empty"){%>
                    <h1>Min-Max</h1>
                    <h4>Tips:</h4>
                    <p>Normalisation using Min-Max is preferred when you want to neglect outlier's impact</p>
                    <h4>Recommendations:</h4>

                    <% var recommended = [] ; list.skewness.forEach(function(skew,i){%>
                    <%  if(skew<1.5 && skew>-1.5) recommended.push(list.numerical[i]);%>
                    <%})%>

                    <p>Recommended For :
                        <%if(recommended.length){%>
                        <%= recommended %> </p>
                    <% }else{ %>
                    none </p>
                    <% } %>

                    <% list.numerical.forEach(function(column){%>
                    <input type="checkbox" name="min-max" value='<%=column%>'><%=column%></input>
                    <%})%>
                    <% } %>
                    <br>
                    <input type="checkbox" class="selectall" onchange="selectall(this,'min-max')">Select
                    All</input>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                    <br>
                </form>

            </div>

        </div>
    </div>
</div>