<div class="modal fade dataprocessing" id="pca" tabindex="-1" role="dialog" aria-labelledby="pca" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">PCA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%if(list.numerical != "empty"){%>
            <div class="modal-body">
                <% var flag = true %>
                <% list.null_val.forEach(function(value){ %>
                <% if(value!=0) {%>
                <%flag = false; %>
                <% return} %>
                <% }) %>
                <% if(flag){ %>
                <button onclick="run()">Run</button>

                <P style="color: red;">*IF YOU RUN pca ALL YOUR CATEGORICAL COLUMN WILL BE DELETED IF THERE IS
                    ANY*
                </P>
                <p class="pcaRec"></p>

                <div class="main">
                    <div id="iconPca"
                        style="text-align: center;vertical-align: middle; width:100%;height:100%;padding: 50px;">
                        <p><i class="far fa-chart-bar fa-6x" style="color: rgba(0,0,0,0.3) !important;"></i></p>
                    </div>
                    <div id="loaderPca" class="loader" style="display:none;height: 460px;"></div>
                    <div id="pcaGraph" style="display:none;width:800px;height:300px;"></div>
                    <div id="pcaDiv" style="display: none;">
                        <form id="pcaForm" action="/drop_columns" method="POST">
                            <h1>Columns To Remove</h1>
                            <h4>Tips:</h4>
                            <p>Keep only those columns which consist majority of your data</p>
                            <h4>Recommendations: </h4>
                            <p class="pcaRec"></p>

                            <% list.numerical.forEach(function(column,i){%>
                            <input type="checkbox" id='PC<%=i+1%>' name="drop_col" value='PC<%=i+1%>'>PC<%=i+1%></input>
                            <%})%>
                            <br>
                            <input type="checkbox" class="selectall" onchange="selectall(this,'drop_col')">Select
                            All</input>
                            <br>
                            <button type="submit">Submit</button>
                        </form>

                    </div>
                </div>

                <% }else{ %>
                <div class="modal-body">
                    <div class="jumbotron">
                        <h1 class="display-4">Opps!!!</h1>
                        <p class="lead">Your Numerical Columns have NULL VALUES. First Handle them.</p>
                    </div>
                </div>
                <% } %>
            </div>
            <% }else{ %>
            <div class="modal-body">
                <div class="jumbotron">
                    <h1 class="display-4">Opps!!!</h1>
                    <p class="lead">You don't have any Numerical columns</p>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>