<div class="modal fade dataprocessing" id="pca" tabindex="-1" role="dialog" aria-labelledby="pca" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Principal Component Analysis</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%if(list.numerical != "empty"){%>
            <div class="modal-body">
                <% var flag = true %>
                <% list.null_val.forEach(function(value){ %>
                <% if(value!=0) {%>
                <%flag = false; %>
                <% return} %>
                <% }) %>
                <% if(flag){ %>
                <p class="text-center">Click to run PCA: <br> <button onclick="run()" class="btn btn-lg btnrun">Run</button></p>
                

                <P style="color: red;font-size: 14px;">*IF YOU RUN PCA, ALL YOUR CATEGORICAL COLUMN WILL BE DELETED IF THERE IS
                    ANY*
                </P>

                <div class="main">
                    <div id="iconPca"
                        style="text-align: center;vertical-align: middle; width:100%;height:100%;padding: 50px;">
                        <p><i class="far fa-chart-bar fa-6x" style="color: rgba(0,0,0,0.3) !important;"></i></p>
                    </div>
                    <div id="loaderPca" class="loader" style="display:none;height: 300px;"></div>
                    <div id="pcaGraph" style="display:none;width:450px;height:300px;"></div>
                    <div id="pcaDiv" style="display: none;">
                        <form id="pcaForm" action="/drop_columns" method="POST">
                            <h5>Columns To Remove</h5>
                            <div class="tips">
                                <div class="jumbotron">
                                    <h5 class="text-uppercase"><i class="far fa-hand-point-right"></i> TIPS</h5>
                                    <p>Keep only those columns which consist majority of your data.</p>
                                </div>
                            </div>
                            <div class="select-checkbox">
                                <p class="text-left">Select the column you want to Drop :</p>
                                <input type="text" class="modal-search-Input bg-light form-control border small"
                                    placeholder="Search for..." title="Type in a name" style="margin: 3px auto;width: 85% ;">

                                <ul class="modal-ul">
                                    <% list.columns.forEach(function(column,i){ %>
                                    <li>
                                        <label for="<%=column%>"><input type="checkbox" name="drop_col" value="PC<%=i+1%>"
                                                id="<%=column%>" /><span style="padding-left: 10px;">PC<%=i+1%></span></label>
                                    </li>

                                    <% }); %>
                                </ul>
                                <label><input type="checkbox" class="selectall" onchange="selectall(this,'drop_col')" /><span
                                        style="padding-left: 10px;">Select All</span></label>
                            </div>
                            <div class="recommendation">
                                <div class="jumbotron">
                                    <h5 class="text-uppercase"><i class="far fa-hand-point-right"></i> Recommended </h5>
                                    <p class="pcaRec"></p>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-lg" >Submit</button>
                            </div>
                        </form>

                    </div>
                </div>

                <% }else{ %>
                <div class="modal-body">
                    <div class="jumbotron">
                        <h1 class="display-4">Opps!!!</h1>
                        <p class="lead">Your Numerical Columns have NULL VALUES. First Handle them.</p>
                    </div>
                </div>
                <% } %>
            </div>
            <% }else{ %>
            <div class="modal-body">
                <div class="jumbotron">
                    <h1 class="display-4">Opps!!!</h1>
                    <p class="lead">You don't have any Numerical columns</p>
                </div>
            </div>
            <% } %>

        </div>
    </div>
</div>