<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Columns</title>
</head>
<body>
    <h1>Drop columns</h1>
    <h4>Tips:</h4>
    <p>Drop columns with max nan values or high nan percent</p>
    
    <form action="/drop_columns" method="POST">
        <table>
        <% list.columns.forEach(function(col,i){ %>
            <tr>
            <td><input type="checkbox" name="drop_col" value="<%=col%>" id=""> <%=col%> </td> 
            <td><label for="">NAN percent</label>
            <label for=""><%=list.null_val[i]/(list.null_val[i]+list.count[i])*100%></label>
            </td>
            </tr>
        <% }); %>
    </table>
    <button type="submit"> drop_col </button>
    </form>
</body>
</html>