<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="run()">Run</button>

    <div class="main">
        <div id="myDiv" style="width:800px;height:300px;"></div>
    </div>

    <form id="form" action="/drop_columns" method="POST" style="display: none;">
        <h1>Columns To Remove</h1>
        <% numericalData.forEach(function(column,i){%>
        <input type="checkbox" id='PC<%=i+1%>' name="drop_col" value='PC<%=i+1%>'>PC<%=i+1%></input>
        <%})%>
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    function run() {
        $.ajax({
            url: '/pca',
            type: 'post',
            success: function (response) {
                console.log(response);

                var data = [{
                    x: response.columnNames,
                    y: response.values,
                    type: 'bar'
                }];

                Plotly.newPlot('myDiv', data);

                $("#form").css("display", "block");

            }
        });

    }
</script>

</html>