
<div class="plot_graph">
    <div id="topPanel" class="toppanel">
        <form id="dataForm">
            <% if (list.numerical != "empty"){ %>
            <input type="radio" value='Numerical' name="dataType" onclick="dataClick()">Numerical</input><% } %>
            <% if (list.categorical != "empty"){ %>
            <input type="radio" value='Categorical' name="dataType" onclick="dataClick()">Categorical</input>
            <% } %>
        </form>
    </div>

    <div id="leftPanel" class="leftpanel">
        <form>
            <div id="numColumnForm">
                <% if (list.numerical != "empty"){ %>

                <%list.numerical.forEach(function(item){%>
                <p>
                    <input type="radio" value='<%=item%>' name="column" class="column"
                        onclick="columnClick(this.value)"><%=item%></input>
                </p>
                <%})%>

                <% } %>
            </div>



            <div id="catColumnForm" style="display: none;">
                <% if (list.categorical != "empty"){ %>

                <%list.categorical.forEach(function(item){%>
                <p>
                    <input type="radio" value='<%=item%>' name="column" class="column"
                        onclick="columnClick(this.value)"><%=item%></input>
                </p>

                <%})%>
                <% } %>
            </div>
        </form>
    </div>

    <br><br>
    <div id="rightPanel" class="rightpanel">
        <form>
            <div id="numGraphForm">
                <% if (list.numerical != "empty"){ %>

                <p><input type="radio" value='histogram' name="type" onclick="typeClick(this.value)"
                        checked>Histogram</input></p>
                <p><input type="radio" value='box' name="type" onclick="typeClick(this.value)">Box Plot</input></p>

                <% } %>
            </div>

            <div id="catGraphForm" style="display: none;">
                <% if (list.categorical != "empty"){ %>

                <p><input type="radio" value='bar' name="type" onclick="typeClick(this.value)" checked>Bar</input></p>
                <p><input type="radio" value='pie' name="type" onclick="typeClick(this.value)">Pie Chart</input></p>

                <% } %>
            </div>
        </form>
    </div>

    <div class="main">
        <div id="myDiv" style="width:800px;height:400px;"></div>
    </div>

</div>