


/* ---------------------------------------------main content----------------------------------------------- */
 




.tabs {
  float: none;
  list-style: none;
  position: relative;
  margin:  10px 10px 0; 
  text-align: left;
  padding-left: 50px;
} 

 .tabs > li {
  float: left;
  display: block;
}

.tabs li > input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs > li > label {
  display: block;
  margin: 1px 10px;
  padding: 14px 21px;
  border-radius: 10px 10px 10px 10px;
  font-family: 'Baloo 2', cursive;
  background-color: rgba(250,250,250);
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 14%);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 10;
  top: 4px;
  color: #26a0da;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabs > li > label:hover{
  color: #fff !important;
  background: #496b80; 
  background: -webkit-linear-gradient(to top, #26a0da, #496b80);  
  background: linear-gradient(to top, #26a0da, #496b80); 
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding-left: 60px !important;
  padding: 40px;
  position: absolute;
  overflow-x: auto;
  margin-bottom: 100px;
  top: 53px;
  left: 0;
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0,14%);
}


.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%);
  color: #fff !important;
  background: #496b80; 
  background: -webkit-linear-gradient(to top, #26a0da, #496b80);  
  background: linear-gradient(to top, #26a0da, #496b80); 
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
  

.revert_button{
  color: #26a0da;
}
.revert_button i{
  transition-duration: 0.3s;
  color: #26a0da;
}

.revert_button:hover i{
  transform: scale(1.2) rotate(-45deg);
  color: #26a0da;
}



  /* ---------------------------------------- sidebar ------------------------------------------------------- */
  


  body {
    position: relative;
    overflow-x: auto;
    min-width: 1400px;
    background-color: #eee  ;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100px;
  }

  body,
  html { height: 100%;}
  .nav .open > a, 
  .nav .open > a:hover, 
  .nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: none;
    overflow-x: hidden;
    background-color: transparent;
    /* background: #1a1a1a; */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
}



/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/


.navbar {
  padding: 0;
  background: #314755; 
  background: -webkit-linear-gradient(to top, #26a0da, #314755);  
  background: linear-gradient(to top, #26a0da, #314755); 
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%); */
}

.sidebar-nav li {
    position: relative; 
    line-height: 22px;
    display: inline-block;
    width: 100%;
    font-family: 'Baloo 2', cursive;
    font-size: 18px;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: transparent;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li:hover{
  color: #fff !important;
  background: rgb(255 255 255 / 25%) !important;
  border-radius: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    /* -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in; */

}

.sidebar-nav li a {
    display: inline-block;
    color: #ddd;
    text-decoration: none;
    padding: 15px 15px 15px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid rgba(236, 233, 233, 0.5);
    margin-bottom: 10px;
}
.sidebar-brand {
    position: relative;
    /* background:#212531; */
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: 600;
    padding: 10px;
    background-color: transparent;
    /* background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%); */
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: 15px !important;
    margin: 0;
    border-radius: 0;
    border: none;
    /* background-color: transparent; */
    background-color: #3e637c;
    box-shadow: none;
}

.sidebar-nav .dropdown-menu li:hover{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.sidebar-nav .dropdown-menu li a{
  display: block;
}
.dropdown-menu.show {
    top: 0;
}


/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  border-radius: 3px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: rgb(66, 66, 66);
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out; 
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: rgb(66, 66, 66);
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
  transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/


  
  
/* ----------------------------------------------------------table---------------------------------------- */


.wrap-table100 {
  width: 100%;
  max-width: 1400px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.wrap-table100::-webkit-scrollbar {
  display: none;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 0;
  overflow: auto;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  min-width: 100px;
}

table thead th:first-child{
  position: sticky;
  z-index: 2;
  left: 0;
  background-color: #2088b8;
  color: #fff;
}
table tbody th{
  position: sticky;
  z-index: 2;
  left: 0;
  color: #808080;
  background-color: #f5f5f5;
}
table thead tr {
  height: 60px;
  background-color: #2088b8;
}
table tbody tr {
  height: 50px;
  position: relative;
  z-index: 1;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
tbody tr:nth-child(even):hover{
  color: #555555;
  background-color: #fff;
  cursor: pointer;
}



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}




/* ----------------------------------------------------------------modal ----------------------------------------*/

.modal.dataprocessing .modal-header{
  color: #fff !important;
  background: #496b80; 
  background: -webkit-linear-gradient(to top, #26a0da, #496b80);  
  background: linear-gradient(to top, #26a0da, #496b80); 
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.modal.dataprocessing .jumbotron .far.fa-hand-point-right,
#tab-content3 .tips .jumbotron .far.fa-hand-point-right {
  color: green;
}
.modal.dataprocessing .tips .jumbotron , 
.modal.dataprocessing .recommendation .jumbotron,
#tab-content3 .tips .jumbotron{
  padding: 1rem 1rem !important;
  border: 2px solid green;
}
.modal.dataprocessing .modal-body{
  padding: 20px !important;
  font-family: 'Open Sans', sans-serif;
}

.modal.dataprocessing .modal-body h5{
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

.modal.dataprocessing .modal-body .tips h5,
.modal.dataprocessing .modal-body .recommendation h5,
#tab-content3 .tips h5 {
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

.modal.dataprocessing .modal-content {
  font-family: 'Open Sans', sans-serif;
  border: none !important;
}


.modal.dataprocessing ul{
  list-style-type:none;
  display: block;
  max-height: 250px;
  overflow-y: auto;
  margin-top: 10px;
  padding: 0;
}

.modal.dataprocessing label{
  border:0px solid #ccc;
  padding-left: 30px;
  padding-top: 15px;
  width: 250px;
  display: inline-block;
  font-size: 16px; 
  line-height: 20px;
  word-wrap: break-word;
}

.modal.dataprocessing li:hover{
 background:#eee;
 cursor:pointer;
}



.modal.dataprocessing li p{
  display: inline-block;
  font-size: 16px; 
  line-height: 20px;
} 

.modal-footer .btn,
#tab-content3 .select-checkbox .btn,
#tab-content4 .download.btn{
	color: #fff;
	background-color: rgba(38, 160, 218, 1);
	font-size: 1rem;
	font-weight: bold;
  box-shadow: 0 0px 5px 0 rgb(0 0 0 / 40%);
}

.modal-footer .btn:hover,
#tab-content3 .select-checkbox .btn:hover,
#tab-content4 .download.btn:hover{
	background-color: #496b80 !important;
	color: #fff !important;
}

.modal-footer .btn:focus,
#tab-content3 .select-checkbox .btn:focus,
#tab-content4 .download.btn:focus{
	outline: 1px dashed rgba(38, 160, 218, 1) !important;
	outline-offset: 3px;
}


.modal#fill_na label{
  display: inline-block;
  width: fit-content !important;
  margin: 1px 4px;
  padding: 5px 10px;
  border-radius: 2px;
  font-family: 'Baloo 2', cursive;
  background-color: #26a0da;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 14%);
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 10;
  top: 4px;
  color: #fff;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.modal#fill_na input[type=radio]{
  position: absolute;
  top: 0;
  left: -9999px;
}

.modal#fill_na label:hover{
  color: #fff !important;
  background-color: #496b80 !important; 
}

.modal#fill_na [id^="mode"]:checked + label {
  color: #fff !important;
  background-color: #496b80 !important; 
}

.fileName::before {
  content: 'File Name:';
  color: black;
  font-weight: 500;
  margin-right: 4px;
}
.fileName {
  position: relative;
  top: 40px;
  margin: auto;
}
.nofile{
  line-height: 1.5;
  font-size: 16px;
  color: #848484;
  font-weight: 400;
}

.profile-file {
  position: relative;
  top: 20px;
  margin: auto;
  display: inline-block;
  cursor: pointer;
  border: 3px dashed grey;
  width: 80%;
  height: 110px;
}
.profile-file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.profileFile-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.profileFile-custom:before {
  position: absolute;
  top: 30px;
  right: 59px;
  z-index: 6;
  display: block;
  content: "Browse";
  background: rgba(38, 160, 218, 1);
  color: #fff;
  -webkit-box-shadow: -1px 2px 10px -1px rgb(38 160 218 / 40%);
  -moz-box-shadow: -1px 2px 10px -1px rgba(38, 160, 218, 0.4);
  -o-box-shadow: -1px 2px 10px -1px rgba(38, 160, 218, 0.4);
  box-shadow: -1px 2px 10px -1px rgb(38 160 218 / 40%);

  font-weight: 500;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 2.9;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
span.profileFile-custom:hover:before {
  box-shadow: none;
}
.profileFile-custom:after {
  content: "Drag your files here or";
  background-image: url(/images/upload.png);
  background-repeat: no-repeat;
  background-size: 22px 21px;
  background-position:10px 200px;
  background-position: 75px 0px;
  display: block;
  font-size: 16px;
  color: #848484;
  font-weight: 500;
  position: relative;
  top: 35px;
  right: 80px;
}
.content:after{
  padding-left: 110px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox]{
    --active: #26a0da;
    --active-inner: #fff;
    --focus: 2px rgba(38, 160, 218, 0.3);
    --border: #BBC1E1;
    --border-hover: #26a0da;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked{
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled{
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked{
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label{
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled){
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus{
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after{
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  
}






/* ----------------------------------------correlation matrix---------------------------------------------------- */



#tab-content3 .select-checkbox ul{
  list-style-type:none !important;
  width:80% !important;
  display: block !important;
  max-height: 400px !important;
  overflow-y: auto !important;
  margin-top: 10px !important;
  padding: 0 !important;
  }

#tab-content3 .select-checkbox label{
  padding: 1rem 0.5rem !important;
  width: 100% !important;
  display: block !important;
  font-size: 18px !important; 
  line-height: 20px !important;
  word-wrap: break-word !important;
}

#tab-content3 .select-checkbox label:hover{
  background:#eee !important;
  cursor:pointer !important;
 }
 
 
 
 