

body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;
  background-color: #fefefe;
}
/* ---------------------------------------------main content----------------------------------------------- */
  .main {
    margin-left: 17em;
    padding: 0px 10px;
  }

  


  /* ---------------------------------------- sidebar ------------------------------------------------------- */
  
  
  
  a {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    font-family: 'Baloo 2', cursive;
  }
  a:hover {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    transition: all 0.6s ease;
    text-decoration: none;
  }
  
  
  
  /* -------------
  Sidebar
  ----------------*/
  .sidebar {
    position: fixed;
    width: 17em;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: #080D11;
    transform: translateZ(0);
    -webkit-transform: translateZ(0); 
    visibility: visible;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .sidebar header {
    color: #fcdf03;
    width: 100%;
    display: block;
    padding: 0.5em 0.5em;
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  
  /* -------------
  Sidebar Nav
  ----------------*/
  .sidebar-nav {
    position: fixed;
    background-color: #080D11;
    height: 100%;
    z-index: 9;
    font-weight: 400;
    font-size: 1.2em;
    padding-bottom: 6em;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .sidebar-nav ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
  }
  .sidebar-nav ul li {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
    width: 100%;
    /* -------------
    Sidebar: icons
    ----------------*/
  }
  .sidebar-nav ul li a {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9em;
    padding: 1em 1.3em;
    position: relative;
    display: block;
  }
  .sidebar-nav ul li a:hover {
    background-color: rgba(245, 192, 192, 0.3);
    color: #fcdf03;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }

  .sidebar-nav .nav-flyout {
    position: absolute;
    background-color: #c19277;
    z-index: 9;
    left: 2.5em;
    top: 0;
    height: 100vh;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .sidebar-nav .nav-flyout a:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .sidebar-nav ul > li:hover .nav-flyout {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }