.leftpanel {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1; 
    top: 150px;
    left: 0;
    background-color: pink;
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .main {
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }