.plot_graph .toppanel {
    position: relative;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
}

.plot_graph .toppanel label,
.plot_graph .leftpanel label,
.plot_graph .rightpanel label{
  display: inline-block !important;
  margin: 1px 2px !important;
  padding: 5px 20px !important;
  border-radius: 3px !important;
  border: 1px solid #f05945;
  font-family: 'Baloo 2', cursive;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0, 14%);
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 10;
  top: 4px;
  color: #f05945;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.plot_graph .toppanel input[type=radio],
.plot_graph .rightpanel input[type=radio],
.plot_graph .leftpanel input[type=radio]{
  position: absolute;
  top: 0;
  left: -9999px;
}

.plot_graph .toppanel label:hover,
.plot_graph .leftpanel label:hover,
.plot_graph .rightpanel label:hover{
  color: #fff !important;
  background: #f05945 !important;
}

.plot_graph .leftpanel { 
    position: relative; 
    float: left;
    overflow-y: auto; 
    overflow-x: hidden;
    max-height: 400px;
    padding-top: 20px;
  }

.plot_graph .rightpanel {
    position: relative; 
    float: right;
    overflow-x: hidden; 
    padding-top: 20px;
  }

  .plot_graph .main {
    margin-left: 200px;
    margin-top: 30px;
    margin-right: 200px; 
    padding: 0 10px;
  }

.plot_graph .leftpanel p{
    width: min-content;
    word-wrap: break-word;
  }