<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 2</title>
</head>

<body>
    <h4>Data Transformation</h4>



    <div>
        <h3>Introduction</h3>
        <p>
            In computing, Data transformation is the process of converting data from one type or structure into another
            type
            or structure. It is one of the basic aspects of most data integration and data management tasks.
            This part can be simple or complex based on the changes that are required for data between the initial data
            and
            the final data. Tools and technologies used for data transformation can vary widely based on the format,
            structure, complexity, and volume of the data being transformed.
        </p>
        <br>
        <br>

        <h3>Why It Is Necessary</h3>
        <p>Different features in the data set may have values in different ranges or may be in the form that is not
            accepatable by the model you are going to feed it in.Broadly saying scaling numerical feautures in legible
            ranges and converting categorical feautures to numerical is a necessary task.
            <br>
            For example,
            <ul>
                <li>Different features in the data set may have values in different ranges or maybe in the form that is
                    not
                    acceptable by the model you are going to feed it in. Broadly saying scaling numerical features in
                    legible ranges and converting categorical features to numerical is a necessary task.
                </li>
                <li>
                    In a Housing Dataset, the column regarding the furnishing status of the house may be in the form -
                    Furnished, Semi-Furnished, Unfurnished. This is a Categorical Feature that is required to be
                    transformed.
                </li>
            </ul>
        </p>
        <br>
        <br>
    </div>



</body>

</html>