<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>
<body>
    <h1>Data Preprocessing</h1>
        <p>
            Data Preprocessing is and crucial and important part in machine learning. 
            The raw data obtained from different sources may be inconsistent and irregular
            for a proper analysis and further usage. Thus this data needs to be manipulated and
            cleaned before using it in analysis or training an algorithm over it. 
            <br><br>
            There are three main steps of data preprocessing:
            <ol>
                <li>Data Cleaning</li>
                <li>Data Transformation</li>
                <li>Data Reduction</li>
            </ol>
            <br>
            <br>
            In this tutorial we will go step by step through all of these processes and 
            understand few methods used in each of these processes.
            <br>
            <br>
            The methods you would use in this tutorial are:
            <ul>
                <li>
                    Data Cleaning
                    <ul>
                        <li>Dropping null Vales</li>
                        <li>Filling in null values</li>
                        <li>Removing Outliers</li>
                    </ul>
                </li>
                <br>
                <li>
                    Data Transformation
                    <ul>
                        <li>Labelling categorical Data</li>
                        <li>Normalising the data</li>
                        <li>Removing skewness from the data</li>
                    </ul>
                </li>
                <br>
                <li>
                    Data Reduction
                    <ul>
                        <li>Principal Component Analysis</li>
                    </ul>
                </li>
            </ul>
            We will understand in details why these steps are necessary and how 
            these steps would help us. We will also discuss different methods and
            which method should be in a particular situation.So, lets get started!

            
        </p>
</body>
</html>