<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 2</title>
</head>

    <h2>One-Hot-Encoding</h2>
    <hr>
        <p>
        Though label encoding is straight but it has the disadvantage that the numeric values can be misinterpreted by
        algorithms as having some sort of hierarchy/order in them. This ordering issue is addressed in another common
        alternative approach called ‘One-Hot Encoding’. In this strategy, each category value is converted into a new
        column and assigned a 1 or 0 (notation for true/false) value to the column.
        </p>
    
        <p>Example For Such Conversions:</p>
        <img src="/images/OneHotEncoding-1.png" alt="">

        <p>Generally this type of Labelling should be used with Ordinal Data</p>
        <ul>
            <li><h6>Advantages:</h6>
            <p>It Effectively converts columns with hierarchical categories without losing the impact of different gaps
                betweeen them.</p>
            </li>
            <li><h6>Disadvantages:</h6>
            <p>Converting a column with large number of categories lead to high memory consuption</p>
            </li>
        </ul>
        <p class="text-center">
            <%if(tutorialFile == true){ %>
            <a href="#" role="button" class="btn btn-lg tutorialbtn" data-toggle="modal" data-target="#One_Hot_Encoding">One Hot Encoding</a>
        <% } %>
    </p>
    <hr>
        

