<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 3</title>
</head>
<body>
    <h1>Data cleaning: Filling in Null values</h1>
    <p>
        As stated earlier dropping rows with null values should be avoided.
        So, now lets have a look on the methods of filling null values.
        <br>
        <ul>
            <li>
                <b>Categorical data</b><br>
                There are two major methods to fill null values in case of Categorical data:
                <ol>
                    <li>
                        <b>Fill with the top class:</b>
                        In this method we replace the null/NAN values with the class
                        that appears most frequent in that particular column.
                        This works most of the times but may produce udesired output in 
                        some cases due to the fact that the data in the column now
                        would be biased towards to top class mare than that was previously.
                        <em>Thus, the next method is preffered over this method</em>
                    </li>
                    <br>
                    <li>
                        <b>Fill with the Null class:</b>
                        In this method NAN values are replaced with the special class
                         i.e. Null class. Thus, we have an extra class in the column now, but 
                         the data is as it was before and not biased towards any class.
                         <em>This is recommended method to fill in the null values.</em>
                    </li>
                </ol>
            </li>
            <br>
            <br>
            <li>
                <b>Numerical data</b><br>
                Various methods to fill null values in case of Numerical data are:
                <ol>
                    <li>
                        <b>Fill with zeros:</b> 
                        In this method we replace all NAN/null values with '0'. <em>This method
                        is not preffered as it may produce some skewness in data.</em>
                    </li>
                    <br>
                    <li>
                        <b>Fill with minimum:</b>
                        In this method we replace the NAN/null values with the minimum of that 
                        column. <em>This method
                        is not preffered as it may produce some skewness in data.</em>
                    </li>
                    <br>
                    <li>
                        <b>Fill with maximum:</b>
                        In this method we replace the NAN/null values with the maximum of that 
                        column. <em>This method
                        is not preffered as it may produce some skewness in data.</em>
                    </li>
                    <br>
                    <li>
                        <b>Fill with mean</b>
                        In this method we replace the NAN/null values with the mean of that 
                        particular column. The mean is a good option as it does not generate 
                        any undesirable effect like skewness in most of the cases and is better
                        than former options as it generally lies in the middle rather than being
                        the extreme values like minimum, maximum, zero etc.
                    </li>
                    <br>
                    <li>
                        <b>Fill with median:</b>
                        In this method we replace the NAN/null values with the median of that
                        particular column. It is even better option than mean for
                        normalised or standardised as it lies in the center of the data and incresing
                        the datapoints at the median does not introduces skewness in the data.
                    </li>
                    <br>
                    <li>
                        <b>Forward fill:</b>
                        In this method we replace the NAN/null values with the last seen value as we traverse
                        from top to bottom through the columm.
                        <em>Not recommended if the first value in column is NAN/null.</em>
                    </li>
                    <br>
                    <li>
                        <b>Backward fill:</b>
                        In this method we replace the NAN/null values with the last seen value as we traverse
                        from bottom to top through the columm.
                        <em>Not recommended if the last value in column is NAN/null.</em>
                    </li>
                </ol>
            </li>
        </ul> 
    </p>
</body>
</html>