<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 2</title>
</head>

<body>
    <h4>Labelling Categorical Data</h4>

    <h3>Introduction</h3>

    <div>
        <p>
            Over your learning curve in AI and Machine Learning, one thing you would notice that most of the algorithms
            work
            better with numerical inputs. Therefore, the main challenge faced by an analyst is to convert
            text/categorical
            data into numerical data and still make an algorithm/model to make sense out of it. Neural networks, which
            is a
            base of deep-learning, expects input values to be numerical. There are many ways to convert categorical
            values
            into numerical values. Each approach has its trade-offs and impact on the feature set.
            <br>
            Categorical data represents characteristics.Therefore it can represent things like a person’s gender,
            language
            etc.
        </p>
        <br>
        <br>

        <h3>Types Of Categorical Data</h3>
        <p>There are two types of categorical variable, nominal and ordinal.
            <br>
            <ul>
                <li>Nominal</li>
                &nbsp;&nbsp;
                <p>Nominal data (also known as nominal scale) is a type of data that is used to label
                    variables without providing any quantitative value.Ordering do not matter in this type of data .In
                    other
                    words, when the gap between two categories is EQUAL, It is of type Nominal.It is the simplest form
                    of a
                    scale of measure. You can see two examples of nominal features below:</p>
                <br>
                <p>Languages: English , French , German , Spanish , Hindi</p>
                <p>Gender: Male Female </p>
                <br>
                <p>Note that in the languages columns all the different languages refers to the qualitative
                    feature.Ordering
                    among them do not matter as the gap between any category is equal.</p>
                <br>
                <li>Ordinal</li>
                &nbsp;&nbsp;
                <p>Ordinal values represent discrete and ordered units. It is therefore nearly the same as nominal data,
                    except that it’s ordering matters. In other words, when the gap between two categories is UNEVEN, It
                    is
                    of type Ordinal. You can see an example below:</p>
                <br>
                <p>Educational backgound: Elementary , High School , Undergraduate , PhD, Graduate</p>
                <p>Note that the difference between Elementary and High
                    School is different than the difference between High School and College. This is the main limitation
                    of
                    ordinal data, the differences between the values are not known. Because of that, ordinal scales are
                    usually used to measure non-numeric features like happiness, customer satisfaction and so on.</p>
            </ul>
        </p>

        <h3>Types Of Labelling</h3>
        <ul>
            <li>Encoding Label - For Nominal Data</li>
            <li>One-Hot-Encoding - For Ordinal Data</li>
            <li>Binary Encoding - For Ordinal Data</li>
        </ul>

        <br>
        <br>
    </div>


</body>

</html>