
    <h2>Data Preprocessing</h2>
    <hr/>
    <p>
        Data Preprocessing is and crucial and important part in machine learning.
        The raw data obtained from different sources may be inconsistent and irregular
        for a proper analysis and further usage. Thus this data needs to be manipulated and
        cleaned before using it in analysis or training an algorithm over it.</p>

    <h5><i class="far fa-hand-point-right"></i> &nbsp;There are three main steps of data preprocessing:</h5>
        <ol>
            <li>Data Cleaning</li>
            <li>Data Transformation</li>
            <li>Data Reduction</li>
        </ol>
        <br>
    <p>In this tutorial, we will go step by step through all of these processes and
        understand few methods used in each of these processes.</p>
        <br>
        <h5><i class="far fa-hand-point-right"></i> &nbsp;The methods which we would go through in this tutorial are:</h5>
        <ul>
            <li>
                <h6>Data Cleaning</h6>
                <ul>
                    <li>Dropping null Vales</li>
                    <li>Filling in null values</li>
                    <li>Removing Outliers</li>
                </ul>
            </li>
            <br>
            <li>
                <h6>Data Transformation</h6>
                <ul>
                    <li>Labelling categorical Data</li>
                    <li>Feature Scaling</li>
                    <li>Removing skewness from the data</li>
                </ul>
            </li>
            <br>
            <li>
                <h6>Data Reduction</h6>
                <ul>
                    <li>Principal Component Analysis</li>
                </ul>
            </li>
        </ul>
        <br>
        <p>We will understand in details why these steps are necessary and how
        these steps would help us. We will also discuss different methods and
        which method should be in a particular situation.So, lets get started!</p>
        

        <h5>We also provide you to learn and experiment together. To do so Upload the CSV file here: &nbsp;
            <form action="/file_upload" method="POST" style="display: inline-block;">
                <button class="btn btn-lg tutorialbtn" style="display: inline-block;" type="button" data-toggle="modal" data-target="#uploadFile">Upload</button>
            </form>
        </h5>
        <hr>
