

    <h2>Encoding Label</h2>
    <hr>
        <p>
            Label Encoding refers to converting the labels into numeric form so as to convert it into the
            machine-readable
            form. Machine learning algorithms can then decide in a better way on how those labels must be operated. It
            is an
            important pre-processing step for the structured dataset in supervised learning.
        </p>
        <p>Example For Such Conversions:</p>
        <img src="/images/LabelEncoding-2.png" alt="" />

        <p>Generally this type of Labelling should be used with Nominal Data</p>
        <ul>
            <li><h6>Advantages:</h6>
            <p>It converts a particular column into one column only, hence total number of columns remian same</p>
            </li>
            <li><h6>Disadvantages:</h6>
            <p>Label encoding convert the data in machine readable form, but it assigns a unique number(starting from 0)
                to each class of data. This may lead to the generation of priority issue in training of data sets. A
                label with high value may be considered to have high priority than a label having lower value.</p>
            </li>
        </ul>
        <br>
        <p class="text-center">
            <%if(tutorialFile == true){ %>
                <a href="#" role="button" data-toggle="modal" data-target="#Encoding_Label">EncodingLabel</a>
            <% } %>
        </p>
<hr>
