
    <h2>Removing Outliers</h2>
    <p>
        Handling outliers is a crucial part in data cleaning as these 
        may produce some skewness or biasedness in the data.
        Before understanding how outliers are handle lets first understand what outliers actually are.</p>

        <p>Outliers are the datapoints which lies farr from the extremes and baises the analysis and model.
        For example, if we take dataset containing income in Mumbai then income of Mukesh Ambani is an 
        outlier in our dataset. It is such huge and far from extremes that it misguides the analysis by 
        having significant impact on mean and other analysis metrics. The data does not depict the true 
        information it should depict.</p>
        
        <h5>There are two major ways to handle outliers:</h5>
        <ol>
            <li>
                <h6>Dropping outliers</h6>
                <p>We can simply drop the rows which are acting as outliers in any of the columns.
                    But this practice is not recommended as it may reduce some useful information
                    that we might require in analysis.</p>
            </li>
            <li>
                <h6>Clipping the values:</h6>
                <p>We can clip the extreme values to some significant value so that the values that were outliers
                    contributes in the significant extremes set as the clipping but does not acts as an outlier.
                    This is preffered choice as the data is not reduced and we get outliers clipped.</p>
            </li>
        </ol>
        <br>
        <p class="text-center">
            <%if(tutorialFile == true){ %>
                <a href="#" role="button" class="btn btn-lg tutorialbtn" data-toggle="modal" data-target="#clip_values">Clip values</a>
                <a href="#" role="button" class="btn btn-lg tutorialbtn" data-toggle="modal" data-target="#drop_outliers">Drop outliers</a>
            <% } %>
        </p>
        <hr>
