<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial 2</title>
</head>
<body>
    <h2>Drop Rows</h2>
    <hr>
    <p>As we now have columns with high percent of null values dropped, we have taken
        care of almost all null values.</p> 
    <p>To handle the rest of the values we have further two options:</p>
    <ul>
        <li>Drop rows with null values</li>
        <li>Fill Null Values(discussed on next page) </li>
    </ul>

    <h5>To drop rows with null vaules we have further two options:</h5>
    <ol>
        <li>
            <h6>Drop row with NAN value present in any column:</h6>
            <p>In this approach drop a row with null values in any of the columns. This 
            results in a dataset with no NAN values but in reduced form. You may loose
            some important information present in other columns of the row which was dropped.
            <em>Thus, It is suggest to this method as much as possible.</em> </p>
        </li>
        <li>
            <h6>Drop row with NAN value present in any column:</h6>
            <p>This method is similar to the previous one except for one difference that is
            in former you looked for null values in any of the columns whereas in this method 
            you have to specify the columns such that if there is a null value in a row 
            corresponding to a specific columns it is then the row would be dropped.
            This method would also reduce as previous but in smaller amount. Moreover output 
            of this method may still have null values which need to be filled.</p>
        </li>
    </ol>
    <br>
    <p class="text-center">
        <%if(tutorialFile == true){ %>
            <a href="#" role="button" data-toggle="modal" class="btn btn-lg tutorialbtn" data-target="#drop_row">Drop rows with null
                values</a>
        <% } %>
    </p>
    <hr>