<div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
    <div class="plot_graph">
        <% if(list.columns === "empty"){ %>
        <div class="jumbotron">
            <h1 class="display-4">Opps!!!</h1>
            <p class="lead">You don't have any data</p>
        </div>
        <% } %>
        <div class="row">
            <div class="col-3">
                <form id="dataForm">
                    <p>Select which type data you want to plot: </p>
                    <% if (list.numerical != "empty"){ %>
                    <input type="radio" value='Numerical' id="numerical" name="dataType" onclick="dataClick()" />
                    <label for="numerical">Numerical</label>
                    <% } %>
                    <br>
                    <% if (list.categorical != "empty"){ %>
                    <input type="radio" value='Categorical' id="categorical" name="dataType" onclick="dataClick()" />
                    <label for="categorical">Categorical</label>
                    <% } %>
                </form>
                <br>
                <form id="columnForm">
                    <p>Select the Column:</p>
                    <div id="numColumnForm">
                        <% if (list.numerical != "empty"){ %>
                        <select name="numcolumn" id="numColumn" class="custom-select" onchange="columnClick(this.value)">
                            <%list.numerical.forEach(function(item){%>
                            <p>
                                <option value="<%=item%>"><%=item%></option>
                            </p>
                            <%})%>
                        </select>
                        <% } %>
                    </div>
                    <div id="catColumnForm" style="display: none;">
                        <% if (list.categorical != "empty"){ %>
                        <select name="catcolumn" id="catColumn" class="custom-select" onclick="columnClick(this.value)">
                            <%list.categorical.forEach(function(item){%>
                            <p>
                                <option value="<%=item%>"><%=item%></option>
                            </p>

                            <%})%>
                        </select>
                        <% } %>
                    </div>
                </form>
                <br>
                <form id="graphForm">
                    <p>Select the type of graph:</p>
                    <div id="numGraphForm">
                        <% if (list.numerical != "empty"){ %>
                        <select name="numtype" class="custom-select" id="numGraph" onchange="typeClick(this.value)">
                            <option value="histogram">Histogram</option>
                            <option value="box">Box Plot</option>
                            <option value="line">Line</option>
                            <option value="scatter">Scatter</option>
                        </select>

                        <% } %>
                    </div>

                    <div id="catGraphForm" style="display: none;">
                        <% if (list.categorical != "empty"){ %>
                        <select name="cattype" id="catGraph" class="custom-select" onchange="typeClick(this.value)">
                            <option value="bar">Bar</option>
                            <option value="pie">Pie Chart</option>
                        </select>

                        <% } %>
                    </div>
                </form>
            </div>
            <div class="col-9 border border-secondary" style="height: 600px;text-align: center">
                <div id="unigraph" style="width: 900px; height:590px;"></div>
            </div>
        </div>
    </div>

</div>